<ion-header>
    <ion-navbar>
        <ion-title>
            <img [src]="homeIcon" />
            <span style="margin-left:10px">Weather</span>
        </ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="refreshState()">
                <ion-icon name="refresh"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="errorMessage">{{''}}</div>
  <div  *ngIf="!loaded()" style="text-align:center;margin-top:50px;text-decoration:uppercase;font-size:1.4em">
      Loading...
  </div>
  <div *ngIf="loaded()">
  <div padding>
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button value="current">
        Current
      </ion-segment-button>
      <ion-segment-button value="forecast">
        Forecast
      </ion-segment-button>
      <ion-segment-button value="historical">
        History
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="selectedSegment">
    <ion-list *ngSwitchCase="'current'">
      <ion-grid>
        <ion-row>
          <ion-col width-100>
            Outside
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-50>
            <img [src]="image(current.cond)" style="float:left; margin:20px"/>
          </ion-col>
          <ion-col width-50>
            <div class="current" style="font-size:3em; margin:20px">{{current.temp}}°<br/>{{current.hum}}%</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-100>
            Inside
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-50>
            <div style="text-align:center;margin-top:50px;font-size:3em" (click)="turnOnTherm()">{{insideState()}}</div>
          </ion-col>
          <ion-col width-50>
            <div class="current" style="font-size:3em; margin:20px">{{thermostat.temp}}°<br/>{{thermostat.humidity}}%</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'forecast'">
      <div style="font-size:1.5em; margin:20px">{{forecast1.title}}: {{dir(forecast1)}}{{forecast1.temp}}°</div>

      <div class="section forecast" style="margin:20px">
          <div style="float:left">
              <img [src]="image(forecast1.cond)" style="max-width: 50%" /><br/>
          </div>
          <div class="cast">{{forecast1.cast}} {{sunTime(forecast1)}}</div>
      </div>

      <div style="margin-top:50px;clear:both"></div>

      <div style="font-size:1.5em; margin:20px">{{forecast2.title}}: {{dir(forecast2)}}{{forecast2.temp}}°</div>

      <div class="section forecast" style="margin:20px">
          <div style="float:left">
            <img [src]="image(forecast2.cond)" style="max-width: 50%" /><br/>
          </div>
          <div class="cast">{{forecast2.cast}} {{sunTime(forecast2)}}</div>
      </div>

  </ion-list>

    <ion-list *ngSwitchCase="'historical'">
      <div style="font-size:1.5em;margin:20px">50-year historical</div>
      <div style="margin:20px">
        <ion-grid>
          <ion-row>
            <ion-col width-50>
              <div style="font-weight:bold;font-size:1.1em">Highs</div>
              <div>Average: {{history.high}}°</div>
              <div>Maximum: {{history.maxHigh}}°</div>
              <div>Minimum: {{history.minHigh}}°</div>
            </ion-col>
            <ion-col width-50>
              <div style="font-weight:bold;font-size:1.1em">Lows</div>
              <div>Average: {{history.low}}°</div>
              <div>Maximum: {{history.maxLow}}°</div>
              <div>Minimum: {{history.minLow}}°</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </ion-list>

  </div>
</div>
</ion-content>
